@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v29-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v29-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v29-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:is(input, button) {
  @apply focus:outline-none focus-visible:ring-4 focus-visible:ring-accent focus-visible:ring-offset-4
}